@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playwrite+IN:wght@100..400&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



body{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
  }

  /* general */

  a{text-decoration: none;}

  /* shared  */

  .display-flex{
    display: flex;
  }

  .btn-primary{
    background-color: #FF900E;
    color: white;
    border-radius: 8px;
    border: none;
    padding: 20px 25px;
    font-size: 1.25rem;
    cursor: pointer;
    font-weight: 600px;
    margin-bottom: 50px;
    margin-top: 32px;
  }

  .text-gray{
    color: #424242;
  }

.text-light-gray{
    color: #727272;
}

  /* header  */
.bg-light{
    background-color: hsla(32, 100%, 53%, 10%);
}

.header-content{
    max-width: 1200px;
    margin: 0 auto;
}

  .nav-bar{
    justify-content: space-between;
    align-items: center;

  

  }

  .nav-item{
    list-style: none;
    margin-right: 30px;
    font-weight: 500px;
  }

  .brand{
    font-weight: bold;
    font-size: 3rem;
  }

  .nav-bar, .banner{
    max-width: 1440px;
    margin: 0 auto;
  }

   /* banner  */
  .banner-content{
   max-width: 850px;
   margin: 0 auto;
   text-align: center ;

  }

  .banner-title{
    font-size: 4rem;
}

.banner-img{

    width: 100%;
}






/* main  */


main{
    max-width: 1440px;
    margin: 0 auto;

}

main > section{
    margin-bottom: 150px;
    margin-top: 130px;

}

/* team feature      */


.team{
    align-items: center;
    margin-left: 82px;

}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr ); gap: 24px;
}

.features{
    margin-left: 73px;
}

.section-title{
    font-size: 2.8rem;
    font-weight: 500px;
}

.feature-description{
    color: #727272;
    max-width: 537px;
}




/* fact  */

.fact-card{
    border: 1px solid #FF900E;;
    height: 241px; width: 241px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
     

}

.fact-number{
    font-size: 2.8rem;
    font-weight: 700px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.fact-name{
    font-size: 1.25rem;
    font-weight: 600px;
}


.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    margin-top: 8px;
}

.fact-description{
    max-width: 540px;
    text-align: center;
   
}

#fact{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}





/* sponsor */

 
.sponsor{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.sponsor-info{
    max-width: 540px;
    text-align: center;
    margin-top: 32px;
}

.brand-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 36px;
    gap: 24px;

}

.brand-container img{
    filter: grayscale(100%);
}
@media screen  and (max-width:844px) {
    .nav-bar, .banner{
        max-width: 535px;
    }
    .nav-bar{
         flex-direction: column;
        font-size: smaller;
    }

    .brand{
        font-size: 2rem;
    }

  .team{
    margin: 0px;
    flex-direction: column-reverse;
  }

  .team-img-container, .brand-container{
    grid-template-columns: repeat(1, 1fr);

  }


    
  .features{
    margin: 0 auto;
    text-align: center;
  }

  .section-title{
    margin: 0 auto;
    text-align: center;
    margin-bottom: 24px;
  }
    
.fact-description{
    margin: 0 auto;
    text-align: center;
margin-bottom: 32px;}

  .facts-container{
    grid-template-columns:  repeat(1, 1fr);
    justify-items: center;
    
}

.fact-card{margin-bottom: 8px;}

.sponsor-info{
    margin: 0 auto;
    text-align: center;
}

}